/*
    Copyright 2014 Ed Carter

    This file is part of Deadbolt Password Generator.

    Deadbolt Password Generator is free software: you can redistribute
    it and/or modify it under the terms of the GNU General Public
    License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.

    Deadbolt Password Generator is distributed in the hope that it
    will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Deadbolt Password Generator.  If not, see
    <http://www.gnu.org/licenses/>.
*/

:host {
    font-family: RobotoDraft, 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}

.option, core-toolbar {
}

core-header-panel {
    background: white;
}

core-toolbar {
    background-color: #444;
    color: #fff;
}

.toggle {
    margin-bottom: 1em;
}

#navheader {
    background-color: #444;
}

.content {
    padding: 20px;
}
/* drawer is always visible on a wide screen
            so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
    display: none;
}

#navicon {
    fill: #fff;
}

:host /deep/ .option {
    margin: 2em;
}

:host /deep/ paper-toggle-button {
    margin-right: 1em;
}

paper-checkbox::shadow #ink {
  color: #b5b5b5;
}

:host /deep/ paper-toggle-button::shadow #toggleBar[checked] {
    background-color: #000;
}

:host /deep/ paper-input::shadow #underlineHighlight.focusedColor {
    background: #f00;
    border-bottom-color: #f00;
}

:host /deep/ paper-input::shadow #caretInner.focusedColor {
    background: #f00;
    color: #f00;
}

paper-toggle-button::shadow [checked] .toggle {
  background-color: #f00;
}

:host /deep/ paper-input::shadow .focusedColor {
    color: #444;
}

paper-slider {
    width: 100%;
}

paper-slider::shadow #sliderKnobInner,
paper-slider::shadow #sliderKnobInner:before {
    background-color: #444;
}

paper-slider::shadow #sliderBar::shadow #activeProgress,
paper-slider::shadow #sliderBar::shadow #secondaryProgress {
    background-color: #f00;
}

#toggleShowPhrase {
    margin-bottom: 1em;
}

#settingsDrawer{
    min-height: 100%;
}

paper-item.supp {
    padding: 0.5em;
    border-top: 1px solid #ddd;
    background-color: #eee;
}

paper-tab.supp {
    background-color: #eee;
}

#settings {
     overflow-x: hidden;
     overflow-y: auto;
}

paper-tab::shadow #ink {
  color: #999;
}

paper-tabs::shadow #selectionBar {
    background-color: #900;
}

paper-checkbox::shadow #checkbox.checked {
  background-color: #d00;
  border-color: #d00;
}

paper-checkbox::shadow #ink {
  color: #000;
}